/*===== Google Fonts =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --header-height: 3.75rem;

  /* ==== Font Weight ==== */
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ==== Colors ==== */
  --first-color: #000;
  --text-color: #393c41;
  --first-color-light: #5c5e62;
  --color-white: #fff;

  /* ==== Font & Typography ==== */
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.2rem;
  --h2-font-size: 1.75rem;
  --normal-font-size: 0.9375rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8125rem;

  /* ==== z-index ==== */
  --z-index: 100;
}

@media screen and (min-width: 1110px) {
  :root {
    /* ==== Font & Typography ==== */
    --h1-font-size: 3.125rem;
    --h2-font-size: 2rem;
    --smaller-font-size: 0.9rem;
  }
}

/* ==== Base ==== */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  position: relative;
}

h1,
h2,
h3 {
  color: var(--first-color-light);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 1337px;
}

/* ==== Wraper ==== */
.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("/images/hero.jpg");
  background-size: 130%;
  background-position: top center;
  background-repeat: no-repeat;
}

/* ==== Header ==== */
.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  padding-right: 16px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__toggle {
  padding: 8px 16px;
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
  background-color: #0000000d;
  border-radius: 12px;
}

.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  background-color: var(--color-white);
  z-index: 110;
  box-shadow: -30px 0 50px 3px #4c4d4e57;
  transition: 0.5s;
}

.nav__close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 2rem;
  color: var(--first-color-light);
  cursor: pointer;
}

.nav__item {
  margin-bottom: 20px;
}

.nav__item:hover {
  color: var(--first-color);
}

.nav__link {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color-light);
  transition: 0.3s;
  position: relative;
}

.nav__logo {
  font-weight: var(--font-bold);
  color: var(--color-white);
}

/* ==== Show Menu ==== */
.show {
  right: 0;
}

/* ==== Intro ==== */
.intro {
  padding-top: var(--header-height);
  height: 100vh;
}

.intro__inner {
  max-width: 310px;
  margin: 0 auto;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.intro__title {
  font-size: var(--h1-font-size);
}

.intro__text {
  padding: 0 5px;
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--color-white);
  font-weight: var(--font-semi-bold);
  line-height: 1.5;
}

.intro__statistics {
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.intro__info {
  text-align: center;
}

.intro__number {
  font-size: var(--h2-font-size);
  color: var(--color-white);
  font-weight: var(--font-semi-bold);
}

.intro__number > span {
  font-size: var(--small-font-size);
}

.intro__name {
  color: var(--color-white);
  font-size: 8px;
}

.btn {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 7px 0;
  width: 80%;
  display: flex;
  color: var(--color-white);
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  font-size: var(--small-font-size);
  border: 2px solid var(--color-white);
  border-radius: 20px;
}

.btn--wide {
  padding: 12px;
}

.btn-down {
  color: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-12px);
}

.btn-down > i {
  animation-duration: 1.5s;
  animation-iteration-count: 1s;
}

/* ==== Video ==== */
.video__file {
  width: 100%;
  margin: 70px 0;
}

/* ==== Specs ==== */
.specs {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 30px;
}

.specs__title {
  margin-bottom: 15px;
  color: var(--color-white);
  font-size: var(--smaller-font-size);
}

.specs__item {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: var(--color-white);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

/* ==== About ==== */
.about__design,
.about__interior,
.about__roof {
  padding: 0 40px;
  color: var(--color-white);
}

.about__title {
  margin-bottom: 15px;
  padding-right: 55px;
  padding-top: 20px;
  color: var(--color-white);
}

.about__text {
  font-size: var(--normal-font-size);
  font-weight: var(--font-bold);
  color: var(--color-white);
}

/* ==== Footer ==== */
.footer {
  padding-top: 70px;
  text-align: center;
}

.footer__copyright {
  margin-top: 50px;
  color: var(--color-white);
}

/* ==== Media Queries ==== */
@media screen and (min-width: 425px) {
  .wrapper {
    background-image: url("/images/hero-desc.jpg");
    background-size: cover;
  }

  .btn {
    max-width: 200px;
  }

  .nav__menu {
    width: 50%;
  }

  .specs__title {
    font-size: var(--normal-font-size);
  }

  .specs__item {
    padding: 16px 0;
    font-size: var(--normal-font-size);
  }

  .about__title {
    font-size: var(--h2-font-size);
  }

  .about__design,
  .about__interior,
  .about__roof {
    margin: 15px 0 100px;
  }

  .about__box-3 {
    margin-top: -100px;
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 30%;
  }

  .video {
    margin: 0 auto;
    max-width: 600px;
  }

  .about__design,
  .about__interior,
  .about__roof {
    max-width: 600px;
  }
}

@media screen and (min-width: 1110px) {
  .nav__menu {
    width: 25%;
  }

  .intro__inner {
    max-width: 360px;
    height: 80vh;
  }

  .intro__text {
    font-size: var(--normal-font-size);
  }

  .about__design {
    margin: 0 auto;
    margin-top: -200px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__image-2 {
    margin: 0 auto;
  }

  .about__interior {
    max-width: 1000px;
    padding-left: 0;
  }

  .about__roof {
    max-width: 420px;
    margin-top: -200px;
  }
}
